version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - ..:/workspace:cached
      - node_modules:/workspace/node_modules

    command: sleep infinity

    ports:
      - "3000:3000"

    environment:
      - NODE_ENV=development

    # Uncomment to override default shell
    # user: node

volumes:
  node_modules:
